<!DOCTYPE html>
<html lang="en">

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-contents">
            <div id="sidebar-menu" class="sidebar-menu">
                <div class="mobile-show">
                    <div class="offcanvas-menu">
                        <div class="user-info align-center bg-theme text-center">
                            <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                            <a href="javascript:void(0)" class="d-block menu-style text-white">
                                <div class="user-avatar d-inline-block mr-3">
                                    <img src="/static/img/profiles/avatar-18.jpg" alt="user avatar" class="rounded-circle" width="50">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-input">
                        <div class="top-nav-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search here">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="index.html"><img src="/static/img/home.svg" alt="sidebar_img"> <span>메인</span></a>
                    </li>
                    <li>
                        <a href="employee.html"><img src="/static/img/employee.svg" alt="sidebar_img"><span>목표</span></a>
                    </li>
                    <li>
                        <a href="company.html"><img src="/static/img/company.svg" alt="sidebar_img"> <span> 건강</span></a>
                    </li>
                    <li>
                        <a href="calendar.html"><img src="/static/img/calendar.svg" alt="sidebar_img"> <span>운동</span></a>
                    </li>
                    <li>
                        <a href="leave.html"><img src="/static/img/leave.svg" alt="sidebar_img"> <span>식단</span></a>
                    </li>
                    <li>
                        <a href="review.html"><img src="/static/img/review.svg" alt="sidebar_img"><span>취업/학업</span></a>
                    </li>
                    <li>
                        <a href="/culture/select"><img src="/static/img/report.svg" alt="sidebar_img"><span>교양</span></a>
                    </li>
                    <li class="active">
                        <a href="culture.html"><img src="/static/img/manage.svg" alt="sidebar_img"> <span>독서</span></a>
                    </li>
                    <li>
                        <a href="settings.html"><img src="/static/img/settings.svg" alt="sidebar_img"><span>음악</span></a>
                    </li>
                    <li>
                        <a href="profile.html"><img src="/static/img/profile.svg" alt="sidebar_img"> <span>영화/공연</span></a>
                    </li>
                </ul>
                <ul class="logout">
                    <li>
                        <a href="profile.html"><img src="/static/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>